<p id="notice"><%= notice %></p>

<!-- <h1>Listing Products</h1> -->

<div class="container-fluid product-listings">
  <h1>Listing Products</h1>
  
  <% @products.each_slice(3) do |products| %>
    <div class="row">
      <% products.each do |product| %>
        <div class="col-lg-4">
          <%= image_tag(product.image_url, class: 'list_image', size: '260x320') %>
          <%= product.description %> <br/>
          <%= product.colour %> <br/>
          <%= link_to 'Show', product %><br/>
        </div>
      <% end %>    
    </div>
    <hr/>
  <% end %>
</div>



<br>

<%= link_to 'New Product', new_product_path %>