<p id="notice"><%= notice %></p>

<!-- <h1>Listing Products</h1> -->

<div class="container-fluid product-listings">
  <h1>Listing Products</h1>
  <div class="row"></div>
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <%= image_tag(product.image_url, class: 'img-responsive', size: '260x320') %>
        <%= product.price %> <br/>
        <%= product.colour %> <br/>
        <%= product.description %> <br/>
        <%= product.colour %> <br/>
        <%= link_to 'Show', product %><br/>
      </div>    
      <hr/>
    <% end %>
    </div>
</div>



<br>

<%= link_to 'New Product', new_product_path %>